.login{
  display: flex;
  justify-content: center;
  padding-top: 270px;
  width: 1024px;
  form{
    width: 250px;
    button{
      width: 100%;
    }
  }
  .input-holder{
    display: flex;
    flex-direction: column;
    img{
      position: absolute;
      margin-left: calc(100% - 20px);
    }
  }
}
