.side-nav{
  width: 200px;
  height: 100%;
  background: #f3f3f3;
  //padding-top: 20px;
  .inner{
    padding-top: 30px;
    .row{
      cursor: pointer;
      padding: 10px;
    }
    p{
      margin: 0;
    }
  }
}
