<div class="product" *ngIf="product.sold">
  <div class="image-holder" [class.next]="index > 0">
    <div class="isOnProd" *ngIf="product.isVisible">
      Na sklepie
    </div>
    <div class="isOnProd" *ngIf="!product.isVisible">
      Do dodania!
    </div>
    <div class="options">
      <img src="assets/signs/edit.svg">
<!--      <img src="assets/signs/delete.svg">-->
    </div>
    <img [src]="product.thumbnail">
    <div class="sold" >
      <p>{{'product.sold' | translate}}</p>
    </div>
  </div>
  <h3>{{product.price}} zł</h3>
  <h3 *ngIf="product.promoPrice">{{product.promoPrice}} zł</h3>
  <p>{{product.title}}</p>
</div>
<div class="product" [routerLink]="'/product/' + product.id" *ngIf="!product.sold">
  <div class="image-holder" [class.next]="index > 0">
    <div class="isOnProd" *ngIf="product.isVisible">
      Na sklepie
    </div>
    <div class="isOnProd" *ngIf="!product.isVisible">
      Do dodania!
    </div>
    <div class="options">
      <img src="assets/signs/edit.svg">
<!--      <img src="assets/signs/delete.svg">-->
    </div>
    <img [src]="product.thumbnail">
  </div>
  <h3>{{product.price}} zł</h3>
  <h3 *ngIf="product.promoPrice">{{product.promoPrice}} zł</h3>

  <p>{{product.title}}</p>
</div>
