<div class="product-page" *ngIf="!loading" >
  <div class="title-add-prod">
    <h5>Opis produktu</h5>
<!--    mat-raised-button  class="main-button submit" [disabled]="productForm.invalid"-->
    <button type="button" mat-raised-button color="primary"
            (click)="addProductToProd()"
            *ngIf="(document.location.hostname.includes('dev') ||
            document.location.hostname.includes('local')) && !isOnProd"
            class="main-button">
      Dodaj na produkcje
    </button>
  </div>

  <form (ngSubmit)="!productForm.invalid && onSubmit()" [formGroup]="productForm" novalidate id="productForm">
    <div class="section-top">
      <div class="input-holder">
        <label for="name" [class.label-error]="productForm.get('name').invalid && productForm.get('name').touched">
          {{'product.name' | translate}}</label>
        <mat-form-field appearance="outline" class="form-field full-width"
                        [class.field-error]="productForm.get('name').invalid && productForm.get('name').touched">
          <input matInput type="text" class="form-control"
                 [placeholder]="'product.namePlaceholder' | translate"
                 formControlName="name" id="name"/>
          <mat-error *ngIf="productForm.get('name').hasError('required')" class="input-error">
            {{'formError.email.required' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="input-holder">
        <label for="title" [class.label-error]="productForm.get('title').invalid && productForm.get('title').touched">
          {{'product.title' | translate}}</label>
        <mat-form-field appearance="outline" class="form-field full-width"
                        [class.field-error]="productForm.get('title').invalid && productForm.get('title').touched">
          <input matInput type="text" class="form-control"
                 [placeholder]="'product.titlePlaceholder' | translate"
                 formControlName="title" id="title"/>
          <mat-error *ngIf="productForm.get('title').hasError('required')" class="input-error">
            {{'formError.email.required' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="input-holder">
        <label for="price" [class.label-error]="productForm.get('price').invalid && productForm.get('price').touched">
          {{'product.price' | translate}}</label>
        <mat-form-field appearance="outline" class="form-field full-width"
                        [class.field-error]="productForm.get('price').invalid && productForm.get('price').touched">
          <input matInput type="text" class="form-control"
                 [placeholder]="'product.pricePlaceholder' | translate"
                 formControlName="price" id="price"/>
          <mat-error *ngIf="productForm.get('price').hasError('required')" class="input-error">
            {{'formError.email.required' | translate}}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="input-holder">
        <label for="price">
          {{'product.promoPrice' | translate}}</label>
        <mat-form-field appearance="outline" class="form-field full-width"
                        [class.field-error]="productForm.get('promoPrice').invalid && productForm.get('promoPrice').touched">
          <input matInput type="text" class="form-control"
                 [placeholder]="'product.promoPricePlaceholder' | translate"
                 formControlName="promoPrice" id="promoPrice"/>
          <mat-error *ngIf="productForm.get('price').hasError('required')" class="input-error">
            {{'formError.email.required' | translate}}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="input-holder">
        <mat-form-field>
          <mat-label>{{'product.color' | translate}}</mat-label>
          <mat-select id="reason" formControlName="color">
            <mat-option *ngFor="let color of colors" [value]="color.id">
              {{'colors.' + color.name | translate}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="input-holder">
        <mat-form-field>
          <mat-label>{{'product.size' | translate}}</mat-label>
          <mat-select id="size" formControlName="size">
            <mat-option *ngFor="let size of sizes" [value]="size.id">
              {{size.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="input-holder">
        <mat-checkbox formControlName="isSold" class="example-margin">Sprzedany</mat-checkbox>
      </div>
      <div class="input-holder">
        <mat-checkbox formControlName="isModel" class="example-margin">Modelka</mat-checkbox>
      </div>
      <div class="input-holder">
        <mat-checkbox formControlName="isOversize" class="example-margin">Oversize</mat-checkbox>
      </div>
      <div class="input-holder">
        <mat-checkbox formControlName="isVisible" class="example-margin">Na stronie www</mat-checkbox>
      </div>
    </div>


    <div class="input-holder area">
      <button type="button" mat-raised-button class="main-button" (click)="resetDescription()">
        reset description
      </button>
      <span>{{'product.description' | translate}}</span>
      <editor
        apiKey="czxz5y3xgwwx4xcwsku9bfduq52pqw1bczgc6cmnyjbip9ds"
        [formControl]="productForm.controls.description"
        class="mat-elevation-z1"
        [init]="{
            icons: 'material',
            skin: 'borderless',
            plugins: 'wordcount',
            menubar: false,
            min_height: 150
          }"
      ></editor>
    </div>
    <div class="input-holder area">
      <button type="button" mat-raised-button class="main-button" (click)="resetSizeAndFashion()">
        reset size and fashion
      </button>
      <span>{{'product.sizeAndFashion' | translate}}</span>
      <editor
        apiKey="czxz5y3xgwwx4xcwsku9bfduq52pqw1bczgc6cmnyjbip9dsb"
        [formControl]="productForm.controls.sizeAndFashion"
        class="mat-elevation-z1"
        [init]="{
            icons: 'material',
            skin: 'borderless',
            plugins: 'wordcount',
            menubar: false,
            min_height: 150
          }"
      ></editor>
    </div>


    <div class="categories">
      <h3>{{'categories.title' | translate}}</h3>
      <button type="button" mat-raised-button class="main-button" (click)="addCategory()">
        {{'categories.addCat' | translate}}
      </button>
      <div class="list" *ngIf="product">
        <div class="row" *ngFor="let cat of product.category; index as i">
        <span>
          {{cat.namePl}} | <span *ngIf="cat.isMen">Meska</span>
          <span *ngIf="!cat.isMen">Damska</span>
        </span>
          <img src="assets/signs/delete.svg" (click)="this.product.category.splice(i, 1)">
        </div>
      </div>
    </div>

    <button type="submit" mat-raised-button color="primary" class="main-button submit" [disabled]="productForm.invalid">
      {{'product.save' | translate}}
    </button>
  </form>
<div class="line">
</div>
  <div class="images" *ngIf="product.id">
    <h5>Thumbnail / galeria / wideo</h5>

    <div class="thumbnail">
      <h3>{{'thumbnail.title' | translate}}</h3>
      <img [src]="product.thumbnail" *ngIf="product">
      <button mat-raised-button color="primary" class="main-button" [disabled]="!product.id" (click)="changeThumbnail()">
        {{'thumbnail.addThumbnail' | translate}}
      </button>
    </div>
    <div class="images">
      <h3>{{'gallery.title' | translate}}</h3>
      <div class="img-holder" *ngIf="product">
        <div *ngFor="let img of product.assets" class="gallery-image">
          <img [src]="img">
          <div class="bin-holder" (click)="removeImg(img)">
            <span>usuń</span>
            <img src="assets/signs/delete.svg" >
          </div>
        </div>

      </div>
      <button mat-raised-button color="primary" class="main-button" [disabled]="!product.id" (click)="addGalleryImg()">
        {{'gallery.addImg' | translate}}
      </button>
    </div>
<!--    <div class="video">-->
<!--      <h3>{{'product.video' | translate}}</h3>-->
<!--      <video *ngIf="product.video"-->
<!--             width="270" height="480"-->
<!--             controls-->
<!--             autoplay-->
<!--             loop-->
<!--      >-->
<!--        <source src="{{product.video}}" type="video/mp4">-->
<!--        Your browser does not support the video tag.-->
<!--      </video>-->
<!--      <button mat-raised-button color="primary" class="main-button" [disabled]="!product.id" (click)="addVideo()">-->
<!--        {{'product.addVideo' | translate}}-->
<!--      </button>-->
<!--    </div>-->
  </div>




</div>
<app-loader *ngIf="loading"></app-loader>
